@import "reset";
@import "typography";
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

.header {
    padding: 2em;
    background-color: #e1edfa;

    &__content {
        @extend .content;
    }

    &__logo {
        text-align: center;
    }
}

.headline {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    text-align: center;
}

.content {
    @include outer-container;
    padding-left: 2em;
    padding-right: 2em;
    margin: auto;
}

.download {
    text-align: center;

    &__button {
        font-size: 1.2em;
        background-color: #eee;
        border: 0;
        padding: 1em;
        display: inline-block;
        border-radius: 3px;
        color: #666666;
        text-decoration: none;
        margin-bottom: 2.5rem;
        margin-left: 0.5em;
        margin-right: 0.5em;

        .fa {
            margin-right: 0.3em;
        }

        &:hover {
            background-color: lighten(#eee, 2%);
        }
    }
}

.faqs {
    @include outer-container;
    border-top: 1px solid #EEEEEE;
    padding-top: 3.5em;

    &__question {
        margin-bottom: 2.5em;
        @include span-columns(6);

        &-row {
            @include row;
        }

        @include media($tablet) {
            @include span-columns(8);
        }

        @include media($mobile) {
            @include span-columns(4);
        }
    }
}