<h1 class="headline">Air is a collection of lightweight open source libraries for creating web applications.</h1>
<div class="download">
    <a href="https://github.com/air-php" target="_blank" class="download__button"><span class="fa fa-github"></span>
        View on GitHub</a>
    <a href="https://packagist.org/packages/air-php/" target="_blank" class="download__button"><span
            class="fa fa-globe"></span> View on Packagist</a>
</div>

<section class="faqs">
    <div class="faqs__question-row">
        <div class="faqs__question">
            <h2>Is Air a framework?</h2>
            <p>No. With the rise of <a href="https://getcomposer.org/" target="_blank">Composer</a> and <a
                    href="https://packagist.org" target="_blank">Packagist</a> as the de facto standard for package
                management in PHP, frameworks in the traditional sense of the word have become less attractive.</p>
            <p>Why have a single vendor providing all aspects of your web application (routing, presentation, validation
                and more) when you can now easily pick and choose the very best tools for your specific project's
                needs?</p>
        </div>

        <div class="faqs__question">
            <h2>What is Air then?</h2>
            <p>You can think of Air as a collection of lightweight, stand-alone components that can be used as the glue
                for a web application.</p>
            <p>There are packages for the fundamentals of web applications, including HTTP requests, routing and views.
                There are no significant external dependencies and interfaces and abstract classes are used to prevent
                "framework lock-in".</p>
        </div>
    </div>

    <div class="faqs__question-row">
        <div class="faqs__question">
            <h2>Why not just use a popular framework?</h2>
            <p>Firstly, Air is not a framework (see the first question). There are many reasons to use Air components as
                a basis for your web application:</p>
            <ul>
                <li>No "framework lock-in"</li>
                <li>No significant dependencies</li>
                <li>Lightweight and easy to understand</li>
            </ul>
            <p>With Air you take the approach of adding in the right packages for your project at the time that you need
                them - <a href="https://packagist.org" target="_blank">Packagist</a> makes this easy!</p>
        </div>

        <div class="faqs__question">
            <h2>How do I get started?</h2>
            <p>The easiest way to get started is to download the source for <a
                    href="https://github.com/air-php/website" target="_blank">this website</a>. It uses Air components
                along with <a href="https://github.com/nikic/FastRoute" target="_blank">FastRoute</a> for routing, <a
                        href="https://github.com/mustache/mustache" target="_blank">Mustache</a> for presentation and <a
                        href="http://php-di.org/" target="_blank">PHP-DI</a> for dependency injection.</p>

            <p>It's a great way to see how Air works and you can be up and running in minutes with <a
                    href="https://www.docker.com/" target="_blank">Docker</a> and <a
                    href="https://www.docker.com/docker-compose" target="_blank">Docker Compose</a>! See the project
                README file for more information.</p>
        </div>
    </div>
</section>